<div class="main p-4">
    <div class="container">
        <div class="jumbotron jumbotron-fluid bg-success text-light rounded p-4">
            <div class="container">
                <h1 *ngIf="role == 'ROLE_ADMIN'; else hotelsCliente" class="font-weight-bolder text-break">Administrar Hoteles</h1>

                <ng-template #hotelsCliente>
                    <h1 class="display-4 font-weight-bolder">Hoteles</h1>
                </ng-template>
                <p *ngIf="role == 'ROLE_ADMIN'" class="lead text-break">En esta seccion puedes administrar a todos los <span class="font-weight-bolder">Hoteles</span>.</p>
                <button *ngIf="role == 'ROLE_ADMIN'" class="btn btn-lg btn-outline-light text-uppercase" data-toggle="modal" data-target="#createUser">Crear Hotel</button>
            </div>
        </div>
        <div class="input-group-lg p-4">
            <form class="row">
                <input [(ngModel)]="search" name="search" class="form-control me-2 rounded-pill colp-3" placeholder="Busca un hotel . . ." aria-label="search">
            </form>
        </div>
        <div class="overflow-auto maxheight" *ngIf="hotels.length != 0; else noData">
            <div class="card users shadow-sm" *ngFor="let hotel of hotels | search: search">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                    <h5 class="card-title font-weight-bolder">{{ hotel.name }}</h5>
                    <p class="card-text"> {{ hotel.address }} </p>
                    <a *ngIf="role == 'ROLE_ADMIN' || role == 'ROLE_HOTEL'; else buttonsHotel" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">Detalle Hotel</a>
                    <ng-template #buttonsHotel>
                        <a class="btn btn-info btn-block" data-toggle="modal" data-target="#detalleModal" (click)='setHotelDetail(hotel)'>Detalle Hotel</a>
                        <a class="btn btn-danger btn-block mt-2" routerLink="/rooms" routerLink="/hotelRooms" (click)="setLSRoom(hotel)">Ver habitaciones</a>
                        <a class="btn btn-primary btn-block mt-2" routerLink="/rooms" routerLink="/events" (click)="setLSRoom(hotel)">Ver eventos</a>
                    </ng-template>
                </div>
            </div>
        </div>
        <ng-template #noData>
            <p class="text-muted">No existen hoteles</p>
        </ng-template>
    </div>
</div>

<!-- Modal Detalle Usuario -->
<div class="modal fade" id="staticBackdrop" tabindex="-1" aria-pledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Información Detallada</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">

                <!-- <p>Nombre de Usuario: <strong>{{ username || " - "  }}</strong> </p>
                <br>
                <p>Nombre: <strong>{{ name || " - " }} </strong></p>
                <br>
                <p>Lastname: <strong>{{ lastname || " - " }}</strong> </p>
                <br>
                <p>Role: <strong>{{ role || " - " }}</strong> </p> -->

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Crear Usuaio -->
<div class="modal fade" id="createUser" tabindex="-1" aria-pledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Crear un Hotel</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <form #saveHotel="ngForm" (ngSubmit)="onSubmit(saveHotel)">
                    <div class=" form-row ">
                        <div class="form-group col-md-6 ">
                            <label for="inputName ">Nombre del Hotel</label>
                            <input [(ngModel)]="hotel.name" name="name" type="text " class="form-control " id="inputName " required>
                        </div>
                        <div class="form-group col-md-6 ">
                            <label for="inputAddress ">Direccion</label>
                            <input [(ngModel)]="hotel.address" name="address" type="text" class="form-control" id="inputAddress " required>
                        </div>
                    </div>
                    <div class="form-group ">
                        <label for="inputUserAdmin">Elige al Usuario Administrador</label>
                        <select [(ngModel)]="hotel.user_admin_hotel" name="user_admin_hotel " id="inputUserAdmin " class="form-control " required>
                            <option selected disabled>Elige un usuario...</option>
                            <option *ngFor="let userM of usersManagements" [value]="userM._id">{{ userM.name }}</option> 
                        </select>
                    </div>
                    <div class="form-group ">
                        <label for="inputCountry">Elige el Pais del Hotel</label>
                        <select [(ngModel)]="hotel.country" name="country" id="inputCountry" class="form-control " required>
                            <option selected disabled>Elige un pais...</option>
                            <option *ngFor="let name of countries" [value]="name">{{ name }}</option> 
                        </select>
                    </div>
                    <button type="submit " class="btn btn-primary btn-block " [disabled]="!saveHotel.form.valid ">Crear</button>
                </form>


            </div>
            <div class="modal-footer ">
                <button type="submit " class="btn btn-secondary " data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal para reservar -->
<div class="modal fade" id="reservarModal" tabindex="-1" aria-labelledby="reservarModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reservarModalLabel">Reservar Hotel</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">

                <form #formSetReservation="ngForm">
                    <div class="form-group">
                        <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#roomModal">Ver y Seleccionar Habitación</button>
                    </div>
                    <div class=" form-row ">
                        <div class="form-group col-md-6 ">
                            <label for="inputAddress ">Fecha de inicio</label>
                            <input [(ngModel)]="reservation.start_date" type="date" name="datestart" class="form-control" id="inputDateStart" required>
                        </div>
                        <div class="form-group col-md-6 ">
                            <label for="inputAddress ">Fecha final</label>
                            <input [(ngModel)]="reservation.end_date" type="date" name="datefinal" class="form-control" id="inputDateFinal" required>
                        </div>
                    </div>
                    <div class="form-group ">
                        <label for="labelService">Servicios disponibles</label>
                        <select name="inputService" id="inputCountry" class="form-control " required>
                        <option selected disabled>Elige un Servicio</option>
                        <option *ngFor="let service of servicess" [value]="service">{{ service.name }}</option> 
                    </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="onSubmitR(formSetReservation)" [disabled]="!formSetReservation.form.valid">Reservar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para detalle Hotel -->
<div class="modal fade" id="detalleModal" tabindex="-1" aria-labelledby="detalleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detalleModalLabel">Detalles del Hotel</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">


                <p>Nombre: <strong>{{ hotel.name}}</strong> </p>
                <br>
                <p>Pais: <strong>{{ hotel.country}} </strong></p>
                <br>
                <p>Dirección: <strong>{{ hotel.address}}</strong> </p>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para seleccionar habitación -->
<div class="modal fade" id="roomModal" tabindex="-1" aria-labelledby="roomLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="roomLabel">Detalles del Hotel</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">

                <div class="overflow-auto maxheight">
                    <div class="card rooms shadow-sm" *ngFor="let room of rooms">
                        <div class="card-body minheight">
                            <h5 class="card-title font-weight-bolder">{{ room.name }}</h5>
                            <p class="card-text"><strong>Precio: </strong> ${{ room.price_for_day }}</p>
                            <p class="card-text" *ngIf="room.available == true"><strong>Estado: </strong>Disponible</p>
                            <p class="card-text" *ngIf="room.available == false"><strong>Estado: </strong>Disponible hasta {{ showDateInFormat(room.available_day) }}</p>
                            <a class="btn btn-primary btn-block" data-dismiss="modal" data-toggle="modal" (click)="obtenerDataRoom(room)">Seleccionar</a><br>
                        </div>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>