<div class="main p-4">
    <div class="container">
        <div class="jumbotron jumbotron-fluid bg-danger text-light rounded p-4">
            <div class="container">
                <h1 class="display-4 font-weight-bolder">Administrar <span class="font-weight-bold">Servicios</span> - Hotel</h1>
                <p class="lead">En esta seccion puedes administrar a todos los <small>servicios</small> de los hoteles.</p>
                <button class="btn btn-lg btn-outline-light text-uppercase" data-toggle="modal" data-target="#createUser">Crear Servicio</button>
            </div>
        </div>
        <div class="input-group-lg p-4">
            <form class="row">
                <input class="form-control me-2 rounded-pill colp-3" type="search" placeholder="Busca un servicios . . ." aria-label="search">
            </form>
        </div>
        <div class="overflow-auto maxheight">
            <div class="card services shadow-sm" *ngFor="let hotelService of hotelServices">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                    <h5 class="card-title font-weight-bolder"> {{ hotelService.name }}</h5>
                    <p class="card-text">{{ hotelService.price_service }}</p>
                    <a class="btn btn-primary mr-2" data-toggle="modal" data-target="#staticBackdrop">Actualizar</a>
                    <a class="btn btn-danger" data-toggle="modal" data-target="#staticBackdrop">Eliminar</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="createUser" tabindex="-1" aria-pledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Crear un Servicio - Hotel</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <form #formHotelService="ngForm" (ngSubmit)="onSubmit(formHotelService)">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputName">Nombre</label>
                            <input [(ngModel)]="service.name" name="name" type="text" class="form-control" id="inputName" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPrice">Precio en $</label>
                            <input [(ngModel)]="service.price_service" name="price_service" type="number" class="form-control" id="inputPrice" required>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block" [disabled]="!formHotelService.form.valid">Crear</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-secondary" data-dismiss="modal" (click)="ngOnInit()">Cancelar</button>
            </div>
        </div>
    </div>
</div>