<div class="main p-4">
    <div class="container">
        <div class="jumbotron jumbotron-fluid bg-danger text-light rounded p-4">
            <div class="container">
                <h1 class="display-4 font-weight-bolder">Historial</h1>
                <p class="lead">Todas tus reservas en un solo lugar.</p>
            </div>
        </div>
        <div class="alert alert-danger center" role="alert">Reservaciones</div>
        <div class="overflow-auto maxheight">
            <div class="card history shadow-sm" *ngFor="let reservation of reservations">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                    <p class="card-text"><strong>Inicio: </strong> {{ showDateInFormat(reservation.start_date) }}</p>
                    <p class="card-text"><strong>Fin: </strong> {{ showDateInFormat(reservation.end_date) }}</p>
                    <p class="card-text" *ngIf="reservation.status == true"><strong>Estado: </strong>En proceso</p>
                    <p class="card-text" *ngIf="reservation.status == false"><strong>Estado: </strong>Finalizada</p>
                    <a class="btn btn-primary" data-toggle="modal" data-target="#detailReservation" (click)="setReservationInfo(reservation)">Detalle Reservación</a>
                </div>
            </div>
        </div>
        <div class="alert alert-danger center" role="alert">Hoteles visitados</div>
        <div class="overflow-auto maxheight">
            <div class="card history shadow-sm" *ngFor="let hotel of hotels">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                    <h5 class="card-title font-weight-bolder">{{ hotel.name }}</h5>
                    <p class="card-text"> {{ hotel.address }} </p>
                    <a class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">Detalle Hotel</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Detalle Reservación -->
<div class="modal fade" id="detailReservation" tabindex="-1" aria-pledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Información Detallada</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">

                <p>Usuario: <strong>{{ user.username }}</strong> </p>
                <br>
                <p>Hotel: <strong>{{ hotel.name }} </strong></p>
                <br>
                <p>Habitación: <strong> {{ room.name }} </strong> </p>
                <br>
                <p>Estadía: <strong> {{ showDateInFormat(reservation.start_date) }} - {{ showDateInFormat(reservation.end_date) }}</strong> </p>
                <br>
                <p>Precio: <strong> ${{ reservation.total_price }} </strong> </p>
                <br>
                <p *ngIf="reservation.status == true">Estado: <strong> En proceso </strong> </p>
                <p *ngIf="reservation.status == false">Estado: <strong> Finalizada </strong> </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>