<div class="main p-4">
    <div class="container">
        <div class="jumbotron jumbotron-fluid bg-primary text-light rounded p-4">
            <div class="container">
                <h1 class="display-4 font-weight-bolder">Administrar Usuarios</h1>
                <p class="lead">En esta seccion puedes administrar a todos los usuarios.</p>
                <button class="btn btn-lg btn-outline-light text-uppercase" data-toggle="modal" data-target="#createUser">Crear Usuario</button>
            </div>
        </div>
        <div class="input-group-lg p-4">
            <form class="row">
                <input class="form-control me-2 rounded-pill colp-3" type="search" placeholder="Busca un usuario . . ." aria-label="search">
            </form>
        </div>
        <div class="overflow-auto maxheight" *ngIf="users.length != 0; else noData">
            <div class="card users shadow-sm bg-light" *ngFor="let user of users">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                    <h5 class="card-title font-weight-bolder"> {{ (username == user.username) ? "Tú" : user.username}}</h5>
                    <p class="card-text">{{ user.name || "-" }} - {{ user.lastname || "-" }}</p>
                    <a class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop" (click)="setUserDetail(user)">Detalle Usuario</a>
                </div>
            </div>
        </div>
        <ng-template #noData>
            <p class="text-muted">No existen usuarios</p>
        </ng-template>
    </div>
</div>

<!-- Modal Detalle Usuario -->
<div class="modal fade" id="staticBackdrop" tabindex="-1" aria-pledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Información Detallada</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">

                <p>Nombre de Usuario: <strong>{{ username || " - "  }}</strong> </p>
                <br>
                <p>Nombre: <strong>{{ name || " - " }} </strong></p>
                <br>
                <p>Lastname: <strong>{{ lastname || " - " }}</strong> </p>
                <br>
                <p>Role: <strong>{{ role || " - " }}</strong> </p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Crear Usuaio -->
<div class="modal fade" id="createUser" tabindex="-1" aria-pledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Crear un Usuario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <form #saveUserByAdmin="ngForm" (ngSubmit)="onSubmit(saveUserByAdmin)">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputUsername">Nombre de Usuario</label>
                            <input [(ngModel)]="user.username" name="username" type="text" class="form-control" id="inputUsername" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Contraseña</label>
                            <input [(ngModel)]="user.password" name="password" type="password" class="form-control" id="inputPassword4" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail">Email</label>
                        <input [(ngModel)]="user.email" name="email" type="email" class="form-control" id="inputEmail" required>
                    </div>
                    <div class="form-group">
                        <label for="inputName">Nombre</label>
                        <input [(ngModel)]="user.name" name="name" type="text" class="form-control" id="inputName" required>
                    </div>
                    <div class="form-group">
                        <label for="inputLastname">Apellido</label>
                        <input [(ngModel)]="user.lastname" name="lastname" type="text" class="form-control" id="inputLastname" required>
                    </div>
                    <div class="form-group">
                        <label for="inputRole">Rol</label>
                        <select [(ngModel)]="user.role" name="role" id="inputState" class="form-control" required>
                            <option selected disabled>Elige un tipo de usuario...</option>
                            <option *ngFor="let roleItem of roles" [value]="roleItem" >{{ roleItem }}</option>
                          </select>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block" [disabled]="!saveUserByAdmin.form.valid">Crear</button>
                </form>


            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>